#red {
	background-color: red
}

#blue{
	background-color:  lightblue 
}

#green{
	background-color: green 
}
#black{
	background-color: black 
}

#yellow{
	background-color: yellow 
}
